<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head %>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
    </head>
    <body>
        <% include ../partials/header %>
        <div class='pollpage-container'>
            <div class='votes-box'>
                <form action='/poll' method='POST' class='submit-votes'>
                    <select name='selected' class="submit-options" required>
                        <option value='' disabled selected>Choose an option</option>
                        <% for (var i = 0; i < poll.allvotes.length; i++) { %>
                            <option value='<%= '{"id": "' + poll.id + '", "index": ' + i + ', "option": "' + poll.allvotes[i].option + '"}' %>'>
                                <%= poll.allvotes[i].option %>
                            </option>
                        <% } %>
                    </select>
                    <button type='submit' class="major-btn submit-vote-btn" title='VOTE!'>VOTE!</button>
                </form>
                <% if (locals.user) { %>
                    <button type="button" class='minor-btn custom-option-toggle-btn' title='Add an option'>Or add your own</button>
                    <form action='/custom_option' method='POST' class="custom-option-form">
                        <input type='hidden' name='id' value='<%= poll.id %>'>
                        <input type='text' name='newoption' class='custom-option' placeholder='Your option'>
                        <button type='submit' class='minor-btn' title='Add option'>add</button>
                    </form>
                <% } else { %>
                    <button type="button" class='minor-btn custom-option-toggle-btn disabled-btn' title='You must be signed in to add an option'>
                        Or add your own<i class="fa fa-ban"></i>
                    </button>
                <% } %>
                <div>
                    <button type='button' class='major-btn tweet-btn' title='Tweet (Twitter)'>
                        <a target='_blank'
                           href='https://twitter.com/intent/tweet?text=<%- poll.title %>%20A%20Voteroo%20poll:%20<%- process.env.BASE_URL %>/poll?id=<%- poll.id %>'>
                            <i class='fa fa-twitter'></i> Tweet
                        </a>
                    </button>
                    <button class='major-btn share-btn' data-layout='button' data-mobile-iframe='true' title='Share (Facebook)'>
                        <a class='fb-xfbml-parse-ignore' target='_blank' href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2F<%- process.env.BASE_URL %>%2Fpoll%3Fid%3D<%- poll.id %>&amp;src=sdkpreparse'>
                            <i class='fa fa-facebook'></i> Share
                        </a>
                    </button>
                </div>
            </div>
            
            <div class='graph-container'>
                <div class='graph-center'></div>
            </div>
        </div>
        <% include ../partials/footer %>
        <script type='text/javascript'>
            var seedTitle = '<%= poll.title %>';
            var seedData = JSON.parse('<%- JSON.stringify(poll.allvotes)%>');
        </script>
        <script src='/views/scripts/d3.min.js' rel="script" type="text/javascript"></script>
        <script src="/views/scripts/pollpage.js" rel="script" type="text/javascript"></script>
        <% include ../partials/facebooksdk %>
    </body>
</html>